<div class="navbar navbar-primary navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/admin/dashboard" class="navbar-brand"><img src="./assets/images/shutterbug-logo-sm.png" alt="Shutter Bug Custom Booths" width="141" height="30" /></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu.items" ng-class="{active: isActive(item.link)}" ng-if="item.shouldRender()">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLoggedIn()" dropdown>
          <a href="" class="dropdown-toggle">
            <span>Admin</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="" ng-click="endEvent()">End Event</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
