<h1 class="text-primary">Users <small>Update user access privileges</small></h1>
<div id="users" class="row">
  <div class="col-md-6">
    <div class="list-group">
      <a href="" ng-click="edit(user)" class="list-group-item" ng-repeat="user in users" ng-switch="user.createUserToken">
        <edit-user class="pull-right" user="user" current-access="getAccess" save-method="save(user)" ng-if="user.isEditing"></edit-user>
        <span class="edit glyphicon glyphicon-edit pull-right" ng-if="!user.isEditing" show-on-parent-hover></span>
        <strong ng-switch-when="undefined">{{user.name}}</strong><span class="text-muted" ng-switch-when="undefined"> - {{getAccessLevel(user)}}</span><br ng-switch-when="undefined">
        <span class="text-muted font-light" ng-switch-when="undefined">{{user.email}}</span>
        <strong ng-switch-default>{{user.email}}</strong><span class="text-muted" ng-switch-default> - {{getAccessLevel(user)}}</span><br ng-switch-default>
        <span class="text-muted font-light" ng-switch-default>Email invite sent, setup pending</span>
      </a>
      <a href="" ng-click="addNewUser()" class="highlight-hover list-group-item">
        <span class="font-light" ng-if="!addingNewUser && !status.message"><i class="glyphicon glyphicon-plus"></i> Add New User</span>
        <add-user current-access="getAccess" save-method="saveNewUser(user)" ng-if="addingNewUser"></add-user>
        <span class="font-light" ng-show="status.message">{{status.message}}</span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default access-levels">
      <div class="panel-heading">
        <span class="panel-title">Access Levels <span style="font-size:14px;margin-left:3px;" class="text-muted">Control what your users can do</span></span>
      </div>
      <div class="panel-body">
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-sm btn-default dropdown-toggle">
            {{selectedAccessLevel.name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="accessLevel in getEntity().accessLevels">
              <a href="" ng-click="setAccessLevel(accessLevel)">{{accessLevel.name}}</a>
            </li>
          </ul>
        </div>
        <a href="" class="highlight-hover font-light"><i class="glyphicon glyphicon-plus"></i> Add New</a>
        <div class="row">
          <div class="col-xs-6">
            <div class="checkbox" ng-class="{disabled: !selectedAccessLevel.entity}" ng-repeat="(rule, active) in selectedAccessLevel.access" ng-if="$index % 2 == 0">
              <label>
                <input type="checkbox" ng-model="active" ng-disabled="!selectedAccessLevel.entity"> {{rule}}
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox" ng-class="{disabled: !selectedAccessLevel.entity}" ng-repeat="(rule, active) in selectedAccessLevel.access" ng-if="$index % 2 == 1">
              <label>
                <input type="checkbox" ng-model="active" ng-disabled="!selectedAccessLevel.entity"> {{rule}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
