#users {
  .edit {
    padding-top: 10px;
    top: 2px;
    padding-left: 7px;
    color: @brand-primary;
  }
  .highlight-hover {
    text-decoration: none;
    vertical-align: middle;
    color: @text-muted;
    &:hover {
      color: @brand-primary;
    }
  }
  .access-levels {
    .highlight-hover {
      margin-left:7px;
    }
  }
  edit-user {
    padding-top:5px;
  }
  .glyphicon-plus {
    font-size: 75%;
    top: 0px;
  }
  .form-inline {
    label.field-label {
      font-weight: 300;
      color: @text-muted;
      vertical-align: middle;
      margin-bottom: 0;
      margin-right: 5px;
    }
    > div {
      margin-right:3px;
    }
    .glyphicon-plus {
      font-size: 75%;
      top: 0;
      margin-right: 2px;
    }
  }
}
