<div class="form-inline" id="add-user">
  <div class="form-group">
    <label class="email-label" for="email">Email</label>
    <input type="text" class="form-control input-sm" id="email" placeholder="user@example.com">
  </div>
  <div class="btn-group" dropdown>
    <button type="button" class="btn btn-sm btn-default dropdown-toggle">
      {{selectedAccessLevel}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="accessLevel in currentAccess().entity.accessLevels">
        <a href="" ng-click="setAccessLevel(accessLevel.name)">{{accessLevel.name}}</a>
      </li>
    </ul>
  </div>
  <button type="button" class="btn btn-sm btn-primary" ng-click="save()"><i class="glyphicon glyphicon-plus"></i> Add User</button>
</div>
