<div class="navbar navbar-primary navbar-static-top" ng-controller="AdminNavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img src="./assets/images/shutterbug-logo-sm.png" alt="Shutter Bug Custom Booths" width="141" height="30" /></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-switch="getCurrentUser().accessDefinitions.length > 1" dropdown="getCurrentUser().accessDefinitions.length > 1">
          <span class="entity-name" ng-switch-default>{{getCurrentEntity().name}}</span>
          <a href="" class="dropdown-toggle entity-name" ng-switch-when="true">
            {{getCurrentEntity().name}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" ng-switch-when="true">
            <li ng-repeat="accessDefinition in getCurrentUser().accessDefinitions">
              <a href="" ng-click="setCurrentAccess(accessDefinition)">{{accessDefinition.entity.name}}</a>
            </li>
          </ul>
        </li>
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}" ng-if="hasAccess(item.accessProperties)">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <!--<li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()" dropdown>
          <a href="" class="dropdown-toggle" style="padding-top:13px">
            <img src="./assets/images/user-blank.png" class="img-circle" width="20" height="20" />
            <span data-ng-bind="getCurrentUser().name"></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/settings">Settings</a>
            </li>
            <li>
              <a href="" ng-click="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
